html {
    background-color: lightgray;
}

body{
    font-family: sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color:lightgrey;

}

h1 {
    color:whitesmoke;
}


h3 {
    color:whitesmoke;
    margin-right:50px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
    margin-left: 50px;
}

nav a:hover{
    color:white;
}

header {
    display: flex;
    min-height: 70px;
    background-color: black;
    align-items: center; 
    padding: 10px;
    justify-content: space-between; 
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height:50px;
    margin-left: 10px;
    margin-right: 15px;
}

section {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
}

section img {
    display: flex;
    margin: auto;
    display: block;
    align-items: center;
}
img:hover {
    transform: scale(1.1);
}
section figcaption {
   align-items: center;
   display: flex;
   font-weight:bold; 
   font-size: 25px; 
   margin-top: 10px; 
}

footer {
    padding: 20px;
    border-top: 1px solid #ddd;
    text-align: center;
    background-color: black;
    color:lightgrey;
}

.slider{
    width: 100%;
    font-size: 50px;
    overflow: hidden;
    font-family: fantasy;
}   
.slider ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
}
.slider li{
    width: 300%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

@media only screen and (min-width:320px) and (max-width:768px){
.slider, .slider ul, .slider img{
    height: 100vh;
}




}